# Groq API Key (Wajib untuk fitur AI)
GROQ_API_KEY=

# Nomor Telepon WhatsApp (Opsional - Kosongkan jika ingin Mode Scan QR Code)
# Jika diisi (contoh: 6281234567890), bot akan menggunakan Mode Pairing Code!
PHONE_NUMBER=